<div class="row">
  <div class="col-md-4">
    <h1>Edit Videos</h1>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { season: @video.season, video: @video } %>
  </div>
</div>
