<h1>Movies</h1>
<div class="row">
  <div class="col-md-8">
    <% @videos.each do |video| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to video.title, movie_path(video), method: :get %>
            <%= render partial: "genres/list", locals: { genres: video.genres } %>
          </h4>
          <small>
            <%= video.synopsis %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
