<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <p>
       A new user "<%= @user.username %>" is waiting for approval.
     </p>
   </body>
 </html>
